<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.alias">

    <uses-permission android:name="android.permission.GET_TASKS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Alias">
        <activity
            android:name=".More"
            android:exported="false" />
        <activity
            android:name=".Team_Scores_11"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Team_Scores_10"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Playing_Phase_6"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Team_Scores_5"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Settings_4"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Team_Count_3"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".How_To_Play_2"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Main"
            android:exported="true"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Alias.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>